.Score {
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  position: fixed;
  left: 2px;
  bottom: 2px;
  padding: 5px;
  // https://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29
  -moz-appearance:textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Score--bounce {
  animation: Score-keyframes--bounce 0.8s ease-out;
}
@keyframes Score-keyframes--bounce {
  0%, 100% { transform: rotate(0) };
  10% { transform: scale(1.1) };
  20% { transform: rotate(4deg) translateY(-12px) };
  40% { transform: rotate(2deg) translateY(0px) };
  60% { transform: rotate(-2deg) translateY(-8px) };
  80% { transform: rotate(-1deg) translateY(0px) };
}
